{# <div class="container">
		<div class="row">
			<div class="col-xs-12 header-top">
				<ul class="list-inline info-list">
					<li><a href="tel:&#x2b;&#x33;&#x33;&#x36;&#x31;&#x35;&#x34;&#x32;&#x31;&#x30;&#x34;&#x35;" class="tel"><i class="fa fa-phone" aria-hidden="true"></i> &#x28;&#x2b;&#x33;&#x33;&#x29;&#x20;&#x36;&#x2e;&#x31;&#x35;&#x2e;&#x34;&#x32;&#x2e;&#x31;&#x30;&#x2e;&#x34;&#x35;</a></li>
					<li><a href="mailto:&#x63;&#x6f;&#x6e;&#x74;&#x61;&#x63;&#x74;&#x40;&#x6d;&#x63;&#x72;&#x65;&#x76;&#x6f;&#x75;&#x6c;&#x69;&#x6e;&#x2e;&#x63;&#x6f;&#x6d;"><i class="fa fa-envelope" aria-hidden="true"></i> &#x63;&#x6f;&#x6e;&#x74;&#x61;&#x63;&#x74;&#x40;&#x6d;&#x63;&#x72;&#x65;&#x76;&#x6f;&#x75;&#x6c;&#x69;&#x6e;&#x2e;&#x63;&#x6f;&#x6d;</a></li>
				</ul>
				<ul class="head-socialnetworks list-inline">
					<li><a href="../www.facebook.com/MCWeb83/index.html" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<!-- <li><a href="https://twitter.com/HiRoNvp" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
					<li><a href="../www.instagram.com/mc_dev83/index.html" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="../www.linkedin.com/in/mathieu-crevoulin-b3926015b/index.html" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					<li><a href="skype:mcrevoulin?call"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
				</ul>
				<div id="blocs_top">
					<div id="bloc_facebook">
						<iframe src="../www.facebook.com/plugins/like02a5.html?href=https%3A%2F%2Fwww.facebook.com%2FMCWeb83%2F&amp;width=115&amp;layout=button_count&amp;action=like&amp;size=small&amp;share=false&amp;height=21&amp;appId=443505680062943" width="115" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
					</div>
					<div id="bloc_google">
						<span class="google_note">5,0</span>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<a target="_blank" href="../www.google.fr/search79c9.html?dcr=0&amp;sxsrf=ACYBGNTZFCezR_K9TJ5VBoZzF2E97-pU5w%3A1580830749320&amp;ei=HZA5XuyFE4rAgweSz4WIDQ&amp;q=mathieu+crevoulin&amp;oq=mathieu+crevoulin&amp;gs_l=psy-ab.3..35i39l2j38.372047.374514..374650...0.0..0.93.1158.17......0....1..gws-wiz.......0j0i131j0i67j0i10i67j0i10j0i22i10i30j0i22i30.g9IRwxg0GR4&amp;ved=0ahUKEwisiI26nbjnAhUK4OAKHZJnAdEQ4dUDCAo&amp;uact=5#lrd=0x12c9179628f12b69:0xb15fa0cc53ed321e,1,,,">
							18 avis Google
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row menuTop marginTop16">
			<div class="col-xs-12">
				<div class="logo">
					<a href="index.html">
						<img src="img/logo.png" alt="Développeur Web Freelance - Mathieu CREVOULIN" class="img-responsive w-logo">
						<img src="img/logo-2.png" alt="Développeur Informatique Freelance - Mathieu CREVOULIN" class="img-responsive b-logo" width="43" height="50">
					</a>
				</div>
				<div class="holder">
					<ul class="list-unstyled icon-list menu_sidebar">
						<li><a href="#" class="menu-opener opener-icons"><i class="fa fa-outdent" aria-hidden="true"></i></a></li>
					</ul>
					<nav id="nav">
						<a href="#" class="nav-opener">
							<span class="txt">Menu</span>
							<i class="fa fa-bars" aria-hidden="true"></i>
						</a>
						<div class="nav-holder">
							<ul class="list-inline nav-top">
																			<li><a href="#wrapper" class="smoothanchor"><i class="fa fa-home" aria-hidden="true"></i></a></li>
											<li><a href="#services" class="smoothanchor">Services</a></li>
											<li><a href="#competences" class="smoothanchor">Compétences</a></li>
											<li><a href="#portfolio" class="smoothanchor">Portfolio</a></li>
											<li><a href="#tarifs" class="smoothanchor">Tarifs</a></li>
											<li><a href="#about" class="smoothanchor">À propos</a></li>
											<li><a href="#contact" class="smoothanchor">Contact</a></li>
																	</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div> #}